<form action="/robots" method="post">
  <p>Create new robot:</p>
  <input type='text' placeholder="name" name='robot[name]'/><br/>
  <input type='text' placeholder="city" name='robot[city]'/><br/>
  <input type='text' placeholder="state" name='robot[state]'/><br/>
  <input type='text' placeholder="department" name='robot[department]'/><br/>
  <input type='submit'/>
</form>
